<!--
 * @Description: 
 * @Author: qiuzhaohai
 * @Date: 2019-11-25 18:12:45
 * @LastEditors  : qiuzhaohai
 * @LastEditTime : 2020-01-22 21:38:07
 -->
<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <a class="bottom-item" href="https://www.jianshu.com/u/7ae0af642a59" target="_blank">简书</a> |
        <a class="bottom-item" href="https://juejin.im/user/5e19957d6fb9a02ff72967ba" target="_blank">掘金</a>
        <!--<a class="bottom-item" href="<%=theme.links_url%>"><%= __('links')%></a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by hexo</a> |
        <a class="bottom-item" href="https://github.com/QuiZhaoHai/hexo-theme-xoxo-plus" target="_blank">Theme xoxo-plus</a> |
        <a class="bottom-item" href="/atom.xml"><%= __('rss')%></a>-->
    </div>
</footer>
