<!--
 * @Description: 
 * @Author: qiuzhaohai
 * @Date: 2019-11-25 18:12:45
 * @LastEditors: qiuzhaohai
 * @LastEditTime: 2020-01-22 21:20:26
 -->
<section class="post page archives">
  <h3 class="archive-year-wrap"><%= __('Papers')%></h3>
  <div class="archives">
    <% Object.keys(theme.papers).forEach(function(key) { %>
      <div class="archive">
        <a class="post-go" target="_blank" style="color:#202020" href="<%=theme.papers[key]%>">
          <%= __(key)%>
        </a>
      </div>
    <% }); %>
    <p style="color:#999;font-size:14px;margin-top: 30px;">整理更新中...</p>
  </div>
</section>
